/* 1. Universal selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. Type selector */
p {
    font-size: 15px;
    margin-bottom: 10px;
}

/* 3. Class selector */
.highlight {
    background-color: red;
}

/* 4. Id selector */
#header {
    background-color: yellow;
}

/* 5. Attribute selector */
input[type="text"] {
    border: 2px dotted blue;
}

/* 6. Descendant selector */
article p {
    font-style: italic;
    background-color: rgb(160, 154, 154);
}

/* 7. Child selector */
div>p {
    list-style-type: square;
    background-color: orange;
}


/* 8.Adjacent sibling selector */
h1+p {
    font-weight: bold;

}

/* 9.General sibling selector */
h2~p {
    background-color: purple;
}

/* 10. Pseudo-class Selector */
a:hover {
    background-color: green;
}

/* 11. Pseudo-element Selector */
p::first-letter {
    font-weight: bold;
    font-size: 30px;
}

/* 12. Grouping Selector */
h1,h2,h3{
    color: orange;

}